<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>472813293545-n54nlrukihnu43b4l23tjhair5ohmgq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.472813293545-n54nlrukihnu43b4l23tjhair5ohmgq2</string>
	<key>API_KEY</key>
	<string>AIzaSyAbblJT7w1Y6icHzmr2-Jw7Zu1CqEHLA2U</string>
	<key>GCM_SENDER_ID</key>
	<string>472813293545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.apodelRestorant</string>
	<key>PROJECT_ID</key>
	<string>apodel-restorant</string>
	<key>STORAGE_BUCKET</key>
	<string>apodel-restorant.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:472813293545:ios:a73249cad2807a5572c578</string>
</dict>
</plist>